*,
**::after,
**::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;/*change the box model so that the borders and paddings are no longer added to the total width and the total height that we specificy for a box*/
}

html {
    font-size: 62.5%;/*root font size defines what 1rem is*/

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 8px, 8/16 = 50%
    }
}

/* we add properities related to fonts here because they are usually inherited */
body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}